/* @import url("https://fonts.googleapis.com/css2?family=Quicksand&display=swap"); */
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Quicksand", sans-serif;
}
::-webkit-scrollbar {
  width: 0px;
}
a {
  text-decoration: none;
}
button {
  border: 0px;
}
.bg-custom {
  background-color: rgba(126, 76, 215, 0.75);
}

.custom-container-xxl {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;

  @media (min-width: 1400px) {
    max-width: 1320px;
  }

  @media (min-width: 1600px) {
    max-width: 1580px;
  }
}

.cloud {
  padding-bottom: 12vh;
  column-gap: 1rem;
}
.div1 {
  grid-area: 1 / 1 / 3 / 2;
}
.div2 {
  grid-area: 1 / 2 / 2 / 3;
}
.div3 {
  grid-area: 2 / 2 / 3 / 3;
}
.sidebar-item:hover {
  background-color: rgba(119, 36, 197, 0.324);
}
